html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.search-wrap {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100%;
}

.search-wrap .search-icon {
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-family: "icomoon";
  color: #007bff;
  position: absolute;
  cursor: pointer;
}

.navbar {
  margin-bottom: 1rem;
}

.shards__shard {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
}

.shards__shard_owner_avatar img {
  width: 20px;
  margin-right: 5px;
}

.shards__shard_owner {
  display: inline-flex;
}

.page__heading {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #c1c4ca;
}

.shard__main {
  border-right: 1px solid #c1c4ca;
}

.shard__intro {
  margin-bottom: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c1c4ca;
}
