// overrides node_modules/bootstrap/scss/_popover.scss
.popover {
  background-color: var(--main-bg-color);
  border: 1px solid var(--border-color);
}

.popover-body {
  color: var(--font-color);
}

.bs-popover-top {
  > .popover-arrow {
    &::before {
      border-top-color: var(--border-color);
    }

    &::after {
      border-top-color: var(--main-bg-color);
    }
  }
}

.bs-popover-end {
  > .popover-arrow {
    &::before {
      border-right-color: var(--border-color);
    }

    &::after {
      border-right-color: var(--main-bg-color);
    }
  }
}

.bs-popover-bottom {
  > .popover-arrow {
    &::before {
      border-bottom-color: var(--border-color);
    }

    &::after {
      border-bottom-color: var(--main-bg-color);
    }
  }
}

.bs-popover-start {
  > .popover-arrow {
    &::before {
      border-left-color: var(--border-color);
    }

    &::after {
      border-left-color: var(--main-bg-color);
    }
  }
}
