::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle-color);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-handle-hover-color);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  padding-top: 3.5rem;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.modal-content {
  background-color: var(--navbar-bg-color);
  color: var(--font-color);
}

h3 {
  font-size: 20px;
}

a {
  color: var(--regular-link-color);
  text-decoration: none;
  background-color: transparent;
}

a.badge {
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.space {
  height: 16px;
}

.list-style-none {
  list-style: none !important;
}

.d-inline {
  display: inline !important;
}

.footer {
  border-top: 1px solid var(--border-color);
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;

  /* Vertically center the text there */
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
}

.pagination {
  margin-top: 16px;

  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--pg-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
  }

  .page-item.active .page-link {
    z-index: 3;
    color: var(--pg-active-color);
    background-color: var(--pg-color);
    border-color: var(--pg-color);
  }

  .page-item.disabled .page-link {
    color: #505053;
    pointer-events: none;
    cursor: auto;
    background-color: var(--main-bg-color);
    border-color: var(--border-color);
  }
}

.alert-success {
  color: var(--alert-success-color);
  background-color: var(--alert-success-bg-color);
  border-color: var(--alert-success-border-color);
}

@media (max-width: 767px) {
  #stats-repositories-count {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .search-wrap {
    width: 100%;
  }
}

.navbar {
  border-bottom: 1px solid var(--border-color) !important;
  background-color: var(--navbar-bg-color) !important;
}

.repository-popover {
  --#{$prefix}popover-bg: var(--main-bg-color);
  --#{$prefix}popover-border-color: var(--border-color);
  --#{$prefix}popover-arrow-border: var(--border-color);
  --#{$prefix}popover-body-color: var(--font-color);
}

.vertical-center {
  display: flex;
  align-items: center;
}

#stand-with-ukraine {
  .blue-band {
    background-color: #0057b8;
    padding: 0.5rem 1rem;
    color: white;
  }

  .yellow-band {
    background-color: #ffd700;
    padding: 0.5rem 1rem;
  }

  p.hashtag {
    color: black;
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    font-size: xx-small;
  }
}

.has-search {
  .form-control {
    padding-left: 2.375rem;
    border-radius: 2rem;
    border: 0;
    background-color: var(--search-input-bg-color);
    color: var(--search-input-color);
  }

  ::placeholder {
    color: var(--search-input-color) !important;
  }
}

.form-group.has-search {
  margin-bottom: 0;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: var(--search-input-color);
}

.width-full {
  width: 100% !important;
}

.text-normal {
  font-weight: 600 !important;
}

.css-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  width: 70vw;
}

.dont-break-out {
  word-break: normal;
  overflow-wrap: anywhere;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;
}

.middle-dot-divider {
  &::after {
    content: "\00B7";
    padding: 0 6px;
    font-weight: 600;
  }

  &:last-child::after {
    content: "";
    padding: 0;
  }
}

.home_heaeding__container {
  padding-bottom: 40px;
}

.home_repositories__container {
  position: relative;
  margin-top: -73px;
}

.user__avatar {
  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--avatar-bg-color);
  }
}

.user__full_name {
  font-size: 23px;
}

.user__login a {
  color: var(--link-color);
}

.user__info {
  display: flex;
  padding-top: 15px;
}

.user__info_item {
  color: #586069;
  font-size: 14px;
  padding-right: 10px;
}

.shards__shard {
  display: flex;
  padding: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--border-color);

  &.forked {
    background: #f8f9fa;
  }

  &:last-child {
    border-bottom: 0 transparent;
  }
}

.shards__shard_desc {
  margin-bottom: 8px;
  overflow-wrap: break-word;
}

.shards__shard_owner {
  display: inline-flex;
}

.shards__shard_owner_avatar {
  img {
    width: 20px;
    margin-right: 5px;
    background-color: var(--avatar-bg-color);
    border-radius: 50%;
  }
}

.shards__shard_fork {
  font-size: 12px;
  color: #586069;
  margin-bottom: 8px;
  text-align: right;
}

.repository__statistic {
  padding-left: 0;

  li {
    i {
      min-width: 22px;
    }
  }
}

.avatar_block {
  position: relative;
  display: inline-block;
  padding: 1px;
  border: 1px solid var(--border-color);
  border-radius: 50% 50% 50% 0%;

  .badge {
    position: absolute;
    top: 52px;
    right: 45px;

    .fa-stack {
      font-size: 0.8em;
      color: black;
    }

    i {
      vertical-align: middle;
    }
  }

  img.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 50% 50% 50% 0%;
    background-color: var(--avatar-bg-color);
  }
}

ul.not-list {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

.shards__shard_github ul {
  padding-left: 0;
  padding-top: 5px;
  margin-bottom: 0;
  font-size: 12px;

  li {
    display: inline;
    padding-right: 5px;
    font-size: 14px;
    color: #586069 !important;
  }
}

.page__heading {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  background-color: var(--page-heading-bg-color) !important;
  border-bottom: 1px solid var(--border-color) !important;

  .fork-flag {
    font-size: 13px;
    color: #586069;
    line-height: 10px;
  }
}

.page__subheading {
  font-size: 60%;
}

.result_stats {
  font-size: 40%;
  line-height: 43px;
  padding-left: 16px;
}

.shard__header {
  padding-bottom: 40px;
}

.shard__main {
  margin-top: -73px;
  padding-right: 0;

  .tab-content {
    padding-right: 15px;
  }
}

.shard__statistic {
  border-left: 1px solid var(--border-color);
}

.shard__intro {
  padding: 0;
}

.shard__topics {
  white-space: initial;
  margin-bottom: 5px;

  .bg-secondary {
    background-color: var(--badge-bg-color) !important;
  }
}

.info-block {
  margin-bottom: 12px;
}

.shard__owner {
  padding-top: 30px;
  border-top: 1px solid #c1c4ca;
  clear: both;
}

.shard__release-wrap {
  font-weight: 800;
}

.shard__see_all_link {
  margin-bottom: 10px;

  a {
    color: #555868;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;

    &::after {
      margin-left: 3px;
      font-family: "Times New Roman", sans-serif;
      font-style: normal;
      content: "→";
    }
  }
}

.shard__readme {
  overflow-wrap: break-word;

  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;

    thead {
      text-align: center;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 24px;

    a.anchor {
      margin-left: -20px;
      padding-right: 4px;
      padding-top: 65px;
      margin-top: -65px;

      svg {
        fill: var(--font-color);
        vertical-align: middle;
        visibility: hidden;

        @include media-breakpoint-down(md) {
          visibility: visible;
        }
      }
    }
  }

  :is(h1, h2, h3, h4, h5, h6):hover {
    a.anchor {
      svg {
        visibility: visible;
      }
    }
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  img:not([height]) {
    height: auto;
  }

  img:not([width]) {
    max-width: 100%;
  }

  video {
    max-width: 100% !important;
  }

  code {
    font-size: 85%;
    color: var(--code-color);
    overflow-wrap: break-word;
    background-color: var(--code-inline-bg-color);
    border-radius: 6px;
    margin: 0;
    padding: 0.1em 0.2em;
  }

  pre {
    padding: 16px;
    overflow: auto;
    line-height: 1;
    background-color: var(--code-bg-color);
    border-radius: 6px;

    code {
      padding: 0;
      background-color: var(--code-bg-color);
    }
  }

  .blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1rem;
  }

  li.checklist-item {
    list-style: none;
    margin-left: -1rem;

    p {
      display: inline;
    }
  }
}

.shard__postinstall_script {
  .code {
    background-color: var(--code-bg-color);
    padding: 0.4em 0.6em;

    code {
      background-color: var(--code-bg-color);
    }
  }
}

.list__heading {
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  color: #535860;
  margin-bottom: 10px;
}

.shards__shard_name a {
  color: var(--link-color);
}

.list__heading a {
  color: #535860;
}

.users__popular_repository {
  a {
    color: var(--link-color);
  }
}

.shard__links {
  padding-left: 0;

  a {
    color: var(--link-color);
  }
}

.users__user {
  a {
    color: var(--link-color);
  }
}

.list__items {
  margin-bottom: 18px;

  li.link {
    margin-top: 10px;
  }

  a {
    color: var(--link-color);
  }
}

.repository__languages {
  a {
    color: var(--link-color);
  }

  a:hover {
    text-decoration: underline;
  }
}

.list__heading a:hover {
  text-decoration: none;
}

.shards__shard_name a:hover {
  text-decoration: underline;
}

.shards__shard_name {
  font-size: 20px;

  .archived-badge {
    font-size: 10px;
    vertical-align: middle;
  }
}

[data-bs-toggle="collapse"] {
  .fa::before {
    content: "\f139";
  }

  &.collapsed .fa::before {
    content: "\f13a";
  }
}

.list__items a:hover {
  text-decoration: underline;
}

.shard__links a:hover {
  text-decoration: underline;
}

.users__user a:hover {
  text-decoration: underline;
}

.users__popular_repository a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  #back-to-top {
    display: none;
  }
}

#back-to-top {
  border-color: var(--border-color);
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.back-to-top-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

#back-to-top.show {
  opacity: 1;
}

.user_container {
  padding-top: 20px;
}

.users .user {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: 0 transparent;
  }
}

.subnav {
  .nav-link {
    color: var(--nav-link-color);
    cursor: pointer;
    border: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.4s;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &.active {
      font-weight: 500;
      color: var(--nav-active-link-color) !important;
      border-bottom-color: var(--color-primer-border-active) !important;
    }
  }
}

.nav-tabs {
  border-bottom: 0 transparent;

  .nav-link {
    color: var(--nav-link-color);
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;

    &.active {
      background-color: var(--main-bg-color);
      color: var(--nav-link-color);
      border-top: 3px solid;
      border-color: var(--color-primer-border-active) var(--border-color) transparent;

      &:hover {
        border-color: var(--color-primer-border-active) var(--border-color) transparent;
      }
    }
  }
}

.subnav .nav-link:hover {
  color: var(--nav-active-link-color) !important;
  border-bottom-color: var(--border-color);
}

.nav-tabs .nav-link:hover {
  border-color: var(--border-color);
  border-bottom: 1px solid var(--main-bg-color);
}

#tags-cloud {
  width: 100%;
  height: 50vh;
}

#languages-cloud {
  width: 100%;
  height: 50vh;
}

.badge-info {
  color: #fff;
  background-color: var(--badge-bg-color);
}

.tooltip {
  .tooltip-inner {
    text-align: left;
  }
}

#stats-users-count {
  p.card-text {
    height: 24px;
  }
}

.modal.slide-from-left .modal-dialog {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.modal.slide-from-left.show .modal-dialog {
  transform: translateX(0);
}

#sidebar-modal {
  /* CSS to make the modal appear like a sidebar */
  .modal-dialog {
    width: 320px;
    margin: 0;
    position: absolute;
  }

  .modal-content {
    height: 100vh;
    overflow: auto;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }

  .nav-link {
    color: var(--nav-link-color);
    padding-left: 1px;
  }
}
